.left {
    margin-left: 10rem;
    height: 2.5rem;
}

.img_logo {
    margin-left: 15rem;
    width: 16rem;
    height: 4rem;
    color: white;
}

.img_logo_2 {
    width: 2rem;
    height: 2rem;
}

.img_logo_3 {
    width: 200;
    height: 40px;
}